# Compiled Object files
*.slo
*.lo
*.o
*._*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
aleung-c_engine.a
*.exe
*.out
*.app
